.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
    &:hover{ 
      background: rgb(0,255,157);
      background: linear-gradient(90deg, rgba(0,255,157,1) 0%, rgba(0,255,136,1) 35%, rgba(0,212,255,1) 100%);
      border-radius: 5px;
      color: black;
  }
  }
  