.social-icons{
    width: inherit;
    div{
        display: inline;
    }
    svg{
        height: 100%;
        width: 25px;
        margin: 0 1%;
        &:hover{
            cursor: pointer;
        }
    }
}